.pokecardContainer {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  

  .detailsContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
  }
  
  .selectDropdown {
    width: 100%;
    padding: 10px 15px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    appearance: none;
  }
  
  .selectDropdown:hover {
    background-color: #e6f2ff;
    border-color: #3498db;
  }
  
  .selectDropdown:focus {
    outline: none;
    box-shadow: 0 0 5px #3498db;
  }
  
  .selectArrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
  }
  
  .pokemonImage {
    width: 96px;
    height: 96px;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    background-color: #f8f8f8;
    object-fit: contain;
    transition: border-color 0.3s ease;
  }
  
  .pokemonImage:hover {
    border-color: #3498db;
  }
  
  .moveBox {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .moveDropdownContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .moveDropdownTitle {
    font-size: 14px;
    font-weight: bold;
  }
  
  /* Individual move dropdown */
  .moveDropdown {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    
  }
  
  /* Style the move select dropdown */
  .moveSelectWrapper {
    position: relative;
    width: 100%;
  }
  
  .moveSelect {
    width: 100%; /* Full width for moves */
    appearance: none; /* Hides the default arrow */
  }
  
  .moveArrow {
    margin-left: -20px;
    pointer-events: none;
  }
  
  
  /* Custom hover effect */
  .moveSelect:hover {
    background-color: #f0f0f0;
  }
  
  .moveDropdown:last-child {
    margin-bottom: 20px;
  }
