.suggestorCardContainer {
    width: 120px;
    height: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
  }
  
  .suggestorCard {
    width: 140px; /* Fixed width */
    height: 200px; /* Fixed height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    color: #000000;
    text-align: center;
    padding: 10px;
    transition: background-color 0.3s;
    overflow: hidden; /* Prevent overflow from the content */
    box-sizing: border-box; /* Ensure padding doesn't affect width calculation */
  }
  
  .suggestorName {
    font-size: 1rem;
    margin: 15px 0;
    width: 100%; /* Ensure it takes the full width of the parent */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Show "..." when text overflows */
    display: block; /* Make sure it's block level to respect width */
    text-align: center; /* Ensure it's aligned properly */
  }
  
  .suggestorCard.normal { background-color: #A8A77A; }
  .suggestorCard.fire { background-color: #EE8130; }
  .suggestorCard.water { background-color: #6390F0; }
  .suggestorCard.electric { background-color: #F7D02C; }
  .suggestorCard.grass { background-color: #7AC74C; }
  .suggestorCard.ice { background-color: #96D9D6; }
  .suggestorCard.fighting { background-color: #C22E28; }
  .suggestorCard.poison { background-color: #A33EA1; }
  .suggestorCard.ground { background-color: #E2BF65; }
  .suggestorCard.flying { background-color: #A98FF3; }
  .suggestorCard.psychic { background-color: #F95587; }
  .suggestorCard.bug { background-color: #A6B91A; }
  .suggestorCard.rock { background-color: #B6A136; }
  .suggestorCard.ghost { background-color: #735797; }
  .suggestorCard.dragon { background-color: #6F35FC; }
  .suggestorCard.dark { background-color: #705746; }
  .suggestorCard.steel { background-color: #B7B7CE; }
  .suggestorCard.fairy { background-color: #D685AD; }
  
  .buttonGridView {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 50px);
  }
  
  .buttonGrid {
    padding: 5px 10px;
    font-size: 1.0em;
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
  }
  
  .backButton {
    grid-column: span 3;
    padding: 5px;
    font-size: 1.2em;
    background-color: #f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttonGrid:hover {
    background-color: #ddd;
  }
  
  .backButton:hover {
    background-color: rgb(191, 0, 0);
  }
  