.overview-container {
    max-width: 43vw; 
    height: 100vh; 
    max-height: 500px;
    overflow: hidden; 
    position: relative; 
    margin-top: 20px;
    background-color: lightgray;
  }
  
  .pages {
    display: flex; /* Arrange children horizontally */
    width: 100%; /* Match the parent width (40vw now) */
    height: 100%; /* Match the parent height */
    transition: transform 0.5s ease; /* Smooth sliding animation */
  }
  
  .pages > div {
    flex: 0 0 100%; /* Each child should take up 100% of the new width (40vw) */
    height: 100%; /* Match parent height */
  }
  
  .page {
    width: 100%; /* Ensure each page fills the container */
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%; /* Ensure pages fill the container */
  }
  
  .show-first {
    transform: translateX(0);
  }
  
  .show-second {
    transform: translateX(-100%); 
  }

  .show-third {
    transform: translateX(-200%); 
  }
  
  .arrow-button {
    position: absolute;
    top: 0;
    width: 50px; /* Fixed width for arrows */
    height: 100%; /* Full vertical height */
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    color: white; /* Initial color */
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 10;
    transition: background-color 0.2s ease, color 0.2s ease; /* Add color transition */
  }
  
  .arrow-button:hover {
    background-color: rgba(0, 0, 0, 0.3); /* Darken background on hover */
    color: white; /* Change arrow color to white on hover */
  }
  
  .arrow-button.left {
    left: 0; /* Position on the left side */
  }
  
  .arrow-button.right {
    right: 0; /* Position on the right side */
  }
  